# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Nightly Test

on:
  schedule:
    - cron: '0 0 * * *' # Run nightly at 00:00 UTC
  workflow_dispatch:


jobs:
  build:
    name: Test API V2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'
    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.1
    - name: Build
      run: make build
    - name: Test
      run: make test
      env:
        CHROMA_VERSION: "latest"
    - name: Test Cloud
      run: make test-cloud
      env:
        CHROMA_API_KEY: ${{ secrets.CHROMA_API_KEY }}
        CHROMA_TENANT: ${{ secrets.CHROMA_TENANT }}
        CHROMA_DATABASE: ${{ secrets.CHROMA_DATABASE }}
